<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.11.3" targetFramework="net48" />
  <package id="Interop.MFilesAPI" version="21.11.3" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net45" />
  <package id="MFiles.Crypto" version="21.11.3" targetFramework="net45" />
  <package id="MFiles.VAF" version="2.3.623.6" targetFramework="net45" />
  <package id="MFiles.VAF.Configuration" version="21.11.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net45" />
  <package id="MSBuildTasks" version="1.5.0.196" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net45" />
  <package id="SpreadsheetLight" version="3.5.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net48" />
</packages>